[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    migrations,
    env,
    venv,
    .venv,
    build,
    dist,
    static,
    node_modules
extend-ignore =
    E203,
    W503,
per-file-ignores =
    __init__.py: F401
max-complexity = 10
statistics = True
count = True
