{% extends 'main/base.html' %} {% block title %}Login | Learn English{% endblock %} {% block content %}
<div class="centered-box auth-box">
  <h2><span class="material-icons-rounded icon-accent">login</span> Sign In</h2>

  <form method="POST" class="auth-form">
    {% csrf_token %}
    <div class="form-group">
      <input type="text" name="username" placeholder="Username" required class="input-field" />
    </div>

    <div class="form-group">
      <input type="password" name="password" placeholder="Password" required class="input-field" />
    </div>

    <button type="submit" class="btn full-width">Login</button>
  </form>

  <p class="form-note">
    Don’t have an account?
    <a href="{% url 'register' %}" class="link-accent">Register</a>
  </p>
</div>
{% endblock %}
